PIT_DB_HOST=your_database_host
PIT_DB_PORT=3306
PIT_DB_USER=your_database_user
PIT_DB_PASSWORD=your_database_password
PIT_DB_NAME=your_database_name
PIT_ARCTIC_URI=lmdb://C:/nz/arcticdb?map_size=600GB
PIT_ARCTIC_LIBRARY=hermes
PIT_START_DATE=2018-01-01
PIT_END_DATE=2026-07-27
